<header class="bg-black text-white flex justify-between items-center p-4">
  <nav>
    <a href=".">Accueil</a>
    <a href="./offres">Offres</a>
    <a href="./agenda">Agenda</a>
  </nav>
  <div>
    <button>Connexion</button>
    <button>S'inscrire</button>
  </div>
</header>
