<header class="bg-yellow-500 text-grey-600 flex justify-between items-center p-4">
  <nav>
    <a href="/">Accueil</a>
    <a href="/offres">Offres</a>
    <a href="/agenda">Agenda</a>
    <a href="/agents">Agents</a>
  </nav>
  <div>
    <button>Connexion</button>
    <button>S'inscrire</button>
  </div>
</header>
